@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-image: url(/src/nightsky.jpg);
    background-repeat: repeat-x;
    animation: move 15s linear infinite alternate;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

@keyframes move{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    }
}




.navbar .name{
    font-family: "Momo Signature", cursive;
    font-weight: 400;
   font-style: normal;
   font-size: x-large;
   color: #1c1c1c;
   margin-right: 4vw;

}


.navbar{
    padding: 20px;
    text-align: center;
    background-color:  hsla(210, 40%, 92%, 0.812);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 3px solid hsla(113, 5%, 33%, 0.567);
    overflow: visible;
    position: sticky;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    margin: 15px;
    padding: 10px;
     font-size: large;
     color: #1c1c1c;
}


.navbar a:hover{
  background: #76A8CE;
  color: black;
  border-radius: 20px;
}



a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items:center;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}


.container .info{
    /* margin-top: 8%; */
    position: relative;
    padding: 30px 40px;
    width: 30%;
    max-height: 400px;
    border-radius: 100px;
    text-align: center;
}




.container .info .me{
    color: whitesmoke;
    font-size: 2.8rem;
    font-weight: 400;
}


.sigma::before{
   content: 'Hi!';
   animation: animate 1.5s linear infinite alternate;
   animation-timing-function: ease-in-out;
   color: #FBCBE6;
}

@keyframes animate{
    0%{
        content: 'नमस्ते!';
       
    }
    25%{
        content: 'آداب ';
    }
    50%{
        content: 'নমস্কার';
    } 
    75%{
        content: 'నమస్కారం';
    }
    100%{
        content: 'Hi!';
    }
}




.about{
   height: 100vh;
   padding: 100px;
   background-color: #3A2A6D;
   position: relative;
   z-index: 1;
   margin-top: 50px;
}





