@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-image: url(11.png);
    background-size: contain;
    background-repeat: repeat-x;
    z-index: -1;
    
}

.navbar .name{
    font-family: "Momo Signature", cursive;
    font-weight: 400;
   font-style: normal;
   font-size: x-large;
   color: #1c1c1c;
   margin-right: 4vw;

}


.navbar{
    padding: 20px;
    text-align: center;
    background-color:  hsla(210, 40%, 92%, 0.812);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 3px solid hsla(113, 5%, 33%, 0.567);
    overflow: visible;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    backdrop-filter: blur(40px);
    animation: slidedown 1s ease-in-out forwards;
}

@keyframes slidedown{
    from{
        transform: translateY(-100%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar a{
    margin: 15px;
    padding: 10px;
     font-size: large;
     color: #1c1c1c;
}


.navbar a:hover{
  background: #76A8CE;
  color: black;
  border-radius: 20px;
}



a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items:center;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}


.container .info{
    position: relative;
    padding: 30px 40px;
    width: 30%;
    max-height: 400px;
    border-radius: 100px;
    text-align: center;
}




.container .info .me{
    color: #1c1c1c;
    font-size: 2.8rem;
    font-weight: 400;
}


.sigma::before{
   content: 'Hi!';
   animation: animate 1s linear infinite alternate;
   animation-timing-function: ease-in-out;
   color: #7BA43E;
}

@keyframes animate{
    0%{
        content: 'नमस्ते!';
       
    }
    25%{
        content: 'آداب ';
    }
    50%{
        content: 'নমস্কার';
    } 
    75%{
        content: 'నమస్కారం';
    }
    100%{
        content: 'Hi!';
    }
}


.about {
  min-height: 100vh;
  padding: 120px 60px;
 background: #7BA43E;
 display: flex;
 align-items: center;
 justify-content: center;
  gap: 4rem;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}



.imgBoxOne{
  background: url(5.png) no-repeat;
  width: 500px;
  height: 380px;
  border-radius: 40px;
}




.textBox{
  font-size: 24px;
  line-height: 1.6;
  color: white;
  font-weight: 400;
  max-width: 550px;
}






.skills {
    padding: 80px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    background: #D6DCD9;
}


.skill-card {
    background: #ffffff;
    width: 340px;
    padding: 30px 25px;
    border-radius: 22px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.25s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}


.skill-card h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skill-card {
    min-height: 350px;
}


.icon-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
}

.icon-box img {
    height: 65px;
    width: auto;
}

.icon-box span {
    display: block;
    font-size: 14px;
    margin-top: 6px;
    opacity: 0.7;
}


.photo-row {
    display: flex;
    gap: 14px;
    justify-content: center;
    flex-direction: column;
}

.photo-row img {
    /* width: 240px; */
    height: 210px;
    object-fit: cover;
    border-radius: 12px;
}


.audio-box audio {
    width: 100%;
    border-radius: 10px;
}



.skill-card p {
    font-size: 15px;
    line-height: 1.6;
    color: white;
}

.skill-card:nth-child(4) h2{
          color: white;
}

.skills .skill-card:nth-child(4) {
    width: 100%;
    max-width: 740px;
    min-height: auto;
    background: #1c1c1c;
}





.projects{
    height: 100vh;
    padding: 100px;
    background: #D6DCD9;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .proj{
  padding: 200px;
  margin: 2px solid black;
  background: #1c1c1c;
  color: white;
}



footer * {
     margin: 0;
     padding: 0;
}

.foot{
    height: 10vh;
    padding: 70px;
    word-spacing: 2px;
    background-color: #1c1c1c;
    position: relative;
    /* z-index: 1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: whitesmoke;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.signature{
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

.foot .footleftside{
    text-align: left;
    /* align-items: center; */
    margin-left: 3vw;
}

.foot .footrightside{
       text-align: center;
}

.foot .socials{
    text-align: right;
    margin-right: 6vw;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.foot .extras{
    margin-left: 0vw;
}

.thanks{
    font-weight: 300;
}

