@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-image: url(/src/campfire.jpg);
    
}





.navbar .name{
    font-family: "Momo Signature", cursive;
    font-weight: 400;
   font-style: normal;
   font-size: x-large;
   color: #1c1c1c;
   margin-right: 4vw;

}


.navbar{
    padding: 20px;
    text-align: center;
    background-color:  hsla(210, 40%, 92%, 0.812);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 3px solid hsla(113, 5%, 33%, 0.567);
    overflow: visible;
    position: sticky;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    margin: 15px;
    padding: 10px;
     font-size: large;
     color: #1c1c1c;
}


.navbar a:hover{
  background: #76A8CE;
  color: black;
  border-radius: 20px;
}



a{
    text-decoration: none;
    color: black;
}

.container{
    margin-top: 2.2%;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: right;
    align-items:center;
}

.container .info{
    margin-right: 9%;
    position: relative;
    border: 2px solid black;
    background-color: hsla(210, 40%, 92%, 0.812);
    padding: 250px;
    border-radius: 100px;
}

.container .info .genome{
    position: absolute;
    height: 150px;
    top: -40px;
    left: -30px;
    z-index: 5;
}

.container .info .starfish{
    position: absolute;
    height: 200px;
    bottom: -80px;
    right: -90px;
    z-index: 5;
}

.container .info .tree{
    position: absolute;
    height: 250px;
    top: -80px;
    left: -90px;
    z-index: 5;
}

.container .wave{
    height: 250px;
    /* z-index: 5; */
    bottom: 0;
    left: 0;
    animation-name: waveey;
    animation-delay: 4s;
    animation-duration: infinite;
}








footer .foot{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 3px solid hsla(113, 5%, 33%, 0.567);
    bottom: 0;
    position: fixed;
    width: 100%;
    color: whitesmoke;
    background-color: #BD7453;
    text-align: center;
}

footer .foot .copyright{
   
}

